node_modules/
bower_components/
.sass-cache/
.tmp/
dist/
src/app/config.js
coverage
npm-debug.log
.idea
.bashrc
.bashrc~
README.html
/cordova
docs/*.html
.android
!.android/release-files.tar.enc
!.android/README.md
build
