<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      <span ng-bind="cancelDevCtrl.facRnd.facility.name"></span> - Cancel Delivery
    </h2>
  </div>
  <div class="panel-body">
    <a ui-sref="facilityDelivery.deliverItems({ ddId: cancelDevCtrl.dailyDelivery._id , facilityId: cancelDevCtrl.facilityId })"
       class="btn btn-default btn-lg btn-block">
      <i class="fa fa-arrow-circle-left"></i>
      <span>Back</span>
    </a>
    <br/>
    <h3> Select reason and submit report.</h3>
    <br/>
    <ul class="list-unstyled">
      <li>
        <label class="label label-warning">Cancelled </label>
        <dd> Facility in-charge calls ahead to alert driver not to come of facility.</dd>
      </li>
       <br/>
      <li>
        <label class="label label-danger">Failed </label>
        <dd> Driver arrives at the facility, but can't deliver due to facility issues.</dd>
      </li>
    </ul>

    </br>

    <form name="skipForm" ng-submit="cancelDevCtrl.cancel()">

      <div class="form-group">
        <div class="radio form-control input-lg"
          ng-class="{'alert-info': cancelDevCtrl.facRnd.status === cancelDevCtrl.status.CANCELED_CCE}">
          <label class="block-text">
            <input type="radio"
                   name="reason"
                   ng-value="cancelDevCtrl.status.CANCELED_CCE"
                   ng-model="cancelDevCtrl.facRnd.status"> Canceled CCE
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="radio form-control input-lg"
             ng-class="{'alert-info': cancelDevCtrl.facRnd.status === cancelDevCtrl.status.FAILED_CCE}">
          <label class="block-text">
            <input type="radio"
                   name="reason"
                   ng-value="cancelDevCtrl.status.FAILED_CCE"
                   ng-model="cancelDevCtrl.facRnd.status"> Failed CCE
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="radio form-control input-lg"
             ng-class="{'alert-info': cancelDevCtrl.facRnd.status === cancelDevCtrl.status.CANCELED_STAFF}">
          <label class="block-text">
            <input type="radio"
                   name="reason"
                   ng-value="cancelDevCtrl.status.CANCELED_STAFF"
                   ng-model="cancelDevCtrl.facRnd.status"> Canceled Staff not available
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="radio form-control input-lg"
             ng-class="{'alert-info': cancelDevCtrl.facRnd.status === cancelDevCtrl.status.FAILED_STAFF}">
          <label class="block-text">
            <input type="radio"
                   name="reason"
                   ng-value="cancelDevCtrl.status.FAILED_STAFF"
                   ng-model="cancelDevCtrl.facRnd.status"> Failed Staff not available
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="radio form-control input-lg"
             ng-class="{'alert-info': cancelDevCtrl.facRnd.status === cancelDevCtrl.status.CANCELED_OTHER}">
          <label class="block-text">
            <input type="radio"
                   name="reason"
                   ng-value="cancelDevCtrl.status.CANCELED_OTHER"
                   ng-model="cancelDevCtrl.facRnd.status"> Canceled Other
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="radio form-control input-lg"
             ng-class="{'alert-info': cancelDevCtrl.facRnd.status === cancelDevCtrl.status.FAILED_OTHER}">
          <label class="block-text">
            <input type="radio"
                   name="reason"
                   ng-value="cancelDevCtrl.status.FAILED_OTHER"
                   ng-model="cancelDevCtrl.facRnd.status"> Failed Other
          </label>
        </div>
        <textarea ng-model="cancelDevCtrl.facRnd.cancelReport.note"
                  class="form-control" rows="3"
                  placeholder="add reason for failed or canceled others.">
        </textarea>
        <span class="help-block alert alert-danger"
              ng-if="skipForm.$submitted && cancelDevCtrl.isOthersAndInvalid()">
          Please, enter comment for <span ng-bind="cancelDevCtrl.facRnd.status"></span>
        </span>

      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block">
        <span>Submit</span>
      </button>
    </form>
  </div>
</div>

