<button type="button"
        ng-hide="facDevCtrl.transition"
        class="btn btn-default btn-lg btn-block"
        ng-show="diCtrl.previewDelivery"
        ng-click="diCtrl.togglePreview()">
  <i class="fa fa-arrow-circle-left"></i>
  <span>Back</span>
</button>

<div ng-include="'app/components/delivery/deliver-items/preview-table.html'"></div>

<a ui-sref="facilityDelivery.signOff({ ddId : facDevCtrl.ddId, facilityId : facDevCtrl.facility.id })"
   class="btn btn-success btn-lg btn-block"
   ng-show="!diCtrl.shouldHideSignOff()">
  <span>Continue</span>
  <i class="fa fa-arrow-circle-right"></i>
</a>
<button class="btn btn-success btn-lg btn-block"
        ng-click="diCtrl.submit()"
   ng-show="diCtrl.shouldHideSignOff()">
  <i class="fa fa-floppy-o"></i>
  <span>Save</span>
</button>
