<div class="col-md-15">
    <div ng-show="facDevCtrl.currentStep === facDevCtrl.STEPS.START"
         ng-include="'components/delivery/partials/delivery-step-one.html'"></div>
    <div ng-show="facDevCtrl.currentStep === facDevCtrl.STEPS.DELIVER_ITEM"
         ng-include="'components/delivery/partials/delivery-step-two.html'"></div>
  <div ng-show="facDevCtrl.currentStep === facDevCtrl.STEPS.COLLECT_KPI"
       ng-include="'components/delivery/partials/delivery-step-three.html'"></div>
  <div ng-show="facDevCtrl.currentStep === facDevCtrl.STEPS.SIGN_OFF"
       ng-include="'components/delivery/partials/delivery-sign-off.html'"></div>
</div>
