<div class="panel panel-default">
  <div class="page-header">
    <h1>Facility KPI - <span ng-bind="facKPICtrl.selectedFacility.name"></span></h1>
  </div>

  <button type="button" class="btn btn-default btn-lg btn-block"
          ng-click="facKPICtrl.togglePreview()">
    <i class="fa fa-arrow-circle-left"></i>
    <span>Back</span>
  </button>
  <br/>
  <div>
    <table class="table table-striped table-condensed table-bordered">
      <tr>
        <th class="col-sm-6">Antigen</th>
        <th class="col-sm-6">No. of people immunized</th>
      </tr>
      <tr ng-repeat="antigen in facKPICtrl.facilityKPI.antigensKPI track by $index">
        <td><span ng-bind="antigen.productID"></span></td>
        <td><span ng-bind="facKPICtrl.facilityKPI.antigensKPI[$index].noImmunized"></span></td>
      </tr>
    </table>

    <div>
      <label>
        No. of outreach sessions: <span ng-bind="facKPICtrl.facilityKPI.outreachSessions"></span>
      </label>
    </div>
     <br/>
    <div>
      <label>Notes (optional) </label>
      <div class="table table-bordered">
        <span ng-bind="facKPICtrl.facilityKPI.notes"></span>
      </div>
    </div>

    <br/>
    <button type="submit"
            ng-click="facKPICtrl.save()"
            class="btn btn-success btn-lg btn-block">
      <i class="fa fa-floppy-o"></i>
      <span>Submit</span>
    </button>

  </div>
