<div class="panel panel-default">
  <div class="panel-heading">
    <h2><span ng-bind="facDevCtrl.facilityName"></span> - Child Facility KPI</h2>
  </div>
  <div class="panel-body">
    <a ui-sref="facilityDelivery.childFacilityKPI" class="btn btn-warning btn-lg btn-block">
      <i class="fa fa-arrow-circle-left"></i>
      <span>Back</span>
    </a>
    <br/>
    <table class="table table-striped table-condensed table-bordered">
      <tr>
        <th class="col-sm-2">Child Facility</th>
        <th class="col-sm-2">Zone</th>
        <th class="col-sm-2">LGA</th>
        <th class="col-sm-2">Ward</th>
        <th class="col-sm-2">Action</th>
        <th class="col-sm-1">Remove</th>
      </tr>
      <tr>
        <td>Child Facility 1</td>
        <td>Rano</td>
        <td>Bebeji</td>
        <td>Ana Dariya</td>
        <td>View</td>
        <td><i class="fa fa-times alert-danger"></i></td>
      </tr>
      <tr>
        <td>Child Facility 1</td>
        <td>Rano</td>
        <td>Bebeji</td>
        <td>Ana Dariya</td>
        <td>View</td>
        <td><i class="fa fa-times alert-danger"></i></td>
      </tr>
      <tr>
        <td>Child Facility 1</td>
        <td>Rano</td>
        <td>Bebeji</td>
        <td>Ana Dariya</td>
        <td>View</td>
        <td><i class="fa fa-times alert-danger"></i></td>
      </tr>
    </table>
    <br/>
    <a ui-sref="facilityDelivery.signOff" class="btn btn-success btn-lg btn-block"
       ng-show="facDevCtrl.previewKPI">
      <i class="fa fa-thumbs-up"></i>
      <span>eSign</span>
    </a>
  </div>
</div>
