// Override Bower dependency variables
$fa-font-path: "../../bower_components/font-awesome/fonts";
$font-size-base: 16px;

// Inject Bower Sass dependencies
// bower:scss
// endbower

// Inject app Sass dependencies
// injector
// endinjector

.page-content {
  margin-bottom: 20px;
}

.page-header {
  margin-top: 0;
}

.highlight-onhand-qty {
  color: #FFFFFF;
  background-color: #F9CB9C;
  font-weight: bold;
}

.center-text{
  text-align: center;
}

.highlight-delivered-qty {
  color: #FFFFFF;
  background-color: #6D9EEB;
  font-weight: bold;
}

.highlight-returned-qty {
  color: #FFFFFF;
  background-color: #E06666;
  font-weight: bold;
}

.highlight-received-yes {
  background-color: #5CB85C;
  font-weight: bold;
  color: #ffffff;
}

.highlight-interim-stock {
  background-color: #9900FF;
  font-weight: bold;
  color: #ffffff;
}

.text-danger {
  background-color: #E06666;
  color: #FFFFFF;
}

.table-tabbed {
  border: 0;
}

//This ensures that the extra blank margin created on mobile is taken out
// hence input field will lap perfectly with add-ons.
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
   margin: 0;
}

// We're targeting mobile devices where keyboard navigation is rare. Therefore,
// improve UI consistency by removing unsightly outlines (often bright orange on
// Android) at a potential accessibility cost
:focus {
  outline: none !important;
}

.remove-pad {
  padding: 0em;
}

.right-align {
  text-align: right;
}

.red-text {
  color: red;
}

//a cross-browser solution: see:http://stackoverflow.com/questions/306924/checkbox-size-in-html-css
.input-checkbox-lg {
  // All browsers except webkit
  transform: scale(1.5);
  // Webkit browsers
  -webkit-transform: scale(1.5);
}
