.content {
  margin-bottom: 20px;
}

.highlight-onhand-qty {
  color: #FFFFFF;
  background-color: #F9CB9C;
  font-weight: bold;
}

.center-text{
  text-align: center;
}

.highlight-delivered-qty {
  color: #FFFFFF;
  background-color: #6D9EEB;
  font-weight: bold;
}

.highlight-returned-qty {
  color: #FFFFFF;
  background-color: #E06666;
  font-weight: bold;
}

.text-danger {
  background-color: #E06666;
  color: #FFFFFF;
}

.table-tabbed {
  border: 0;
}

//This ensures that the extra blank margin created on mobile is taken out
// hence input field will lap perfectly with add-ons.
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
   margin: 0;
}

// We're targeting mobile devices where keyboard navigation is rare. Therefore,
// improve UI consistency by removing unsightly outlines (often bright orange on
// Android) at a potential accessibility cost
:focus {
  outline: none !important;
}

.remove-pad {
  padding: 0em
}

.right-align {
  text-align: right
}

// injector
@import '../components/navbar/navbar.scss';
@import '../components/packing-table/legend.scss';
@import '../components/delivery/cancel-delivery/cancel-style.scss';
@import '../components/delivery/sign-off/sign-off.scss';
// endinjector
