<h2 ng-bind="packingItemCtrl.name"></h2>
<table class="table table-striped">
  <tr>
    <th>Product</th>
    <th>Expected Quantity</th>
    <th>Complete?</th>
    <th>Packed Quantity</th>
  </tr>
  <tr ng-repeat="item in packingItemCtrl.packingLists track by item.productID">
    <td ng-bind="item.productID"></td>
    <td ng-bind="item.expectedQty"></td>
    <td>
      <span
        class="glyphicon"
        ng-class="{
          'glyphicon-ok text-success': item.complete,
          'glyphicon-remove text-danger': !item.complete
        }"
      ></span>
    </td>
    <td>
      <input
        type="number"
        class="form-control"
        min="0"
        step="1"
        ng-model="item.packedQty"
        ng-model-options="{updateOn: 'blur'}"
        ng-change="packingItemCtrl.isComplete(item)"
      >
    </td>
  </tr>
</table>
