<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      <span ng-bind="facDevCtrl.facilityName"></span> - Cancel Delivery
    </h2>
  </div>
  <div class="panel-body">
    <button type="button" class="btn btn-warning btn-lg btn-block"
            ng-click="facDevCtrl.goTo(facDevCtrl.STEPS.DELIVER_ITEM)">
      <i class="fa fa-arrow-circle-left"></i>
      <span>Back</span>
    </button>
    <br/>
    <h3> Select reason and submit report.</h3>
    <br/>

    <form name="skipForm" ng-submit="facDevCtrl.cancelDelivery()">

      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="facDevCtrl.reason.cancelledAhead"> Cancelled ahead
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="facDevCtrl.reason.notAvailable"> Health facility not available
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="facDevCtrl.reason.brokenCCE"> Broken CCE.
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="facDevCtrl.reason.noCCE"> No CCE.
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   ng-model="facDevCtrl.reason.others"> Others
          </label>
        </div>
        <textarea ng-model="vm.discontinueForm.note"
                  class="form-control" rows="3"
                  placeholder="add reason for unavailable health facility and others.">
        </textarea>
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block">
        <span>Submit</span>
      </button>
    </form>
  </div>
</div>

