<h2>
  <span ng-bind="facDevCtrl.facilityName"></span> - Delivery Round
</h2>
<div class="panel">
  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <a ui-sref="home" class="btn btn-warning btn-lg btn-left">
        <i class="fa fa-arrow-circle-left"></i>
        <span>Back</span>
      </a>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success btn-lg btn-right"
              ng-click="facDevCtrl.goTo(facDevCtrl.STEPS.DELIVER_ITEM)">
        <span>Deliver Items</span>
        <i class="fa fa-arrow-circle-right"></i>
      </button>
    </div>
  </div>
  <br/>
  <h4> Or cancel delivery, select reason and submit report.</h4>
  <br/>
  <form name="skipForm" ng-submit="facDevCtrl.cancelAndSubmitReport()">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="facDevCtrl.reason.notAvailable"> Health facility not available
        </label>
      </div>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="facDevCtrl.reason.brokenCCE"> Broken CCE.
        </label>
      </div>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="facDevCtrl.reason.noCCE"> No CCE.
        </label>
      </div>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox"
                 ng-model="facDevCtrl.reason.others"> Others
        </label>
      </div>
      <textarea ng-model="vm.discontinueForm.note"
                class="form-control" rows="3"
                placeholder="add reason for unavailable health facility and others.">
      </textarea>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block">
      <span>Submit</span>
    </button>
  </form>
</div>
