<div class="col-md-15">
  <h3><span ng-bind="facDevCtrl.facilityName"></span> - Round 16 Delivery</h3>
  <table class="table table-striped table-condensed table-bordered">
    <thead>
    <th>Product</th>
    <th>On-hand Qty</th>
    <th>Delivered Qty</th>
    <th>Returned Qty</th>
    </thead>
    <tr>
      <td>BCG</td>
      <td>
        <input type="number"/>
      </td>
      <td>
        <input type="number"/>
      </td>
      <td>
        <input type="number"/>
      </td>
    </tr>
    <tr>
      <td>OPV</td>
      <td>
        <input type="number"/>
      </td>
      <td>
        <input type="number"/>
      </td>
      <td>
        <input type="number"/>
      </td>
    </tr>
  </table>
  <button type="button" class="btn btn-success btn-lg">
    <i class="fa fa-save"></i>
    <span>Save</span>
  </button>
</div>
