<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home.schedule">
        <img
          src="assets/images/app-navbar-ehealth-inverse.png"
          alt="eHealth Africa logo"
        >
        <span>Direct Delivery</span>
      </a>
    </div>

    <div ng-if="navbarCtrl.auth.isLoggedIn" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in navbarCtrl.items track by item.name" ui-sref-active="active">
          <a ui-sref="{{item.name}}" ng-bind="::item.label"></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right dropdown">
        <div class="btn-group" dropdown is-open="navbarCtrl.isopen">
          <button type="button" class="btn btn-default btn-lg dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            <i class="fa fa-user fa-lg"></i>
            <span ng-bind="::navbarCtrl.auth.currentUser.name"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a ui-sref="logout">Logout</a>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
