<div class="panel panel-default">
  <div class="panel-heading">
    <h2>
      <span ng-bind="facDevCtrl.facility.name"></span>
      <span>- Delivery Sign off</span>
    </h2>
  </div>
  <div class="panel-body">
    <a ui-sref="facilityDelivery.deliverItems({ ddId : facDevCtrl.ddId, facilityId : facDevCtrl.facility.id, preview: true })"
       class="btn btn-default btn-lg btn-block">
      <i class="fa fa-arrow-circle-left"></i>
      <span>Back</span>
    </a>

    <h3>Sign inside the box below, click OK to complete, then submit.</h3>

    <div class="delivery-signature">
      <div class="signature">
        <canvas
          width="558"
          height="218"
          ng-signature-pad="signOffCtrl.signature"
          ng-signature-pad-min-width="1.5"
          ng-signature-pad-max-width="3.5"
          ng-if="!signOffCtrl.accepted"
        ></canvas>
        <img
          ng-if="signOffCtrl.accepted"
          ng-src="{{signOffCtrl.signature.toDataURL()}}"
          alt="Delivery signature"
        />
      </div>
      <div>
        <button
          type="button"
          class="btn btn-lg"
          ng-class="signOffCtrl.accepted && 'btn-default' || 'btn-primary'"
          ng-click="signOffCtrl.accept()"
        >
          <i
            class="fa"
            ng-class="signOffCtrl.accepted && 'fa-refresh' || 'fa-thumbs-up'"
          ></i>
          <span
            ng-bind="signOffCtrl.accepted && 'Clear' || 'OK'"
          ></span>
        </button>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-success btn-lg btn-block"
      ng-click="signOffCtrl.submit()"
      ng-disabled="!signOffCtrl.accepted"
    >
      <span>Submit</span>
      <i class="fa fa-arrow-circle-right"></i>
    </button>
  </div>
</div>
