<br/>
<div class="" ng-if="schedulesCtrl.day.facilities">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
              <th>Facility Name</th>
              <th>Drop</th>
              <th>Status</th>
              <th>Window</th>
              <th>Zone</th>
              <th>LGA</th>
              <th>Ward</th>
              <th>Contact</th>
              <th>Number</th>
              <th>Action</th>
            </thead>
            <tr ng-repeat="facility in schedulesCtrl.day.facilities track by facility.id">
              <td>
                <a ng-bind="facility.name"
                     ui-sref="facilityDelivery({ facilityName : facility.name, facilityId : facility.id })">
                </a>
              </td>
              <td ng-bind="facility.drop"></td>
              <td>Pending</td>
              <td ng-bind="facility.window"></td>
              <td ng-bind="facility.zone"></td>
              <td ng-bind="facility.lga"></td>
              <td ng-bind="facility.ward"></td>
              <td ng-bind="facility.contact"></td>
              <td ng-bind="facility.number"></td>
              <td>
                <a class="btn btn-primary btn-lg btn-block"
                   ui-sref="facilityDelivery.deliverItems({ facilityName : facility.name, facilityId : facility.id })">
                  <span>Deliver</span>
                </a>
              </td>
            </tr>
        </table>
      </div>
    </div>
</div>
<div class="alert alert-info" ng-if="!schedulesCtrl.day.facilities">
    <i class="fa fa-info-circle"></i> There are no scheduled deliveries today.
</div>
