<!--<div class="panel panel-default">
    <div class="panel-body"></div>
</div>-->

<div class="alert alert-warning">
    <div>
       <div class="alert alert-warning">
           <div>
               <h3><i class="fa-truck fa"></i> Vaccine Direct Delivery Round 16 Schedule <!-- {{deliveryRound.name}}--></h3>
           </div>
           <p><br/></p>
           <div class="alert alert-warning">
               <div class="row">
                 <div class="col-sm-3">
                     <h5>Day 1: Mon, 8 Dec 2014</h5>
                     <div align="left">
                        <div class="btn-group btn-group-xs">
                            <button value="View Map" class="btn btn-warning">
                                <i class="glyphicon glyphicon-map-marker"></i> View Map
                            </button>
                            <button value="View Map" class="btn btn-default">
                                <i class="glyphicon fa fa-truck"></i> View Packages
                            </button>
                        </div>
                     </div>
                 </div>
                 <div class="col-sm-9 col-xs-12">
                    <ul class="list-inline">
                        <li><i class="glyphicon glyphicon-map-marker"></i> Dala Primary Health Facility</li>
                        <li><i class="glyphicon glyphicon-map-marker"></i> Wudil Primary Health Facility </li>
                        <li>
                            <i class="glyphicon glyphicon-map-marker"></i>
                            Nassarawa Primary Health Facility
                            <span class="badge">&times;2</span>
                        </li>
                    </ul>
                 </div>
               </div>
           </div>
            <div class="alert alert-warning">
               <div class="row">
                 <div class="col-sm-3">
                     <h5>Day 2: Tue, 9 Dec 2014</h5>
                     <div align="left">
                        <div class="btn-group btn-group-xs">
                            <button value="View Map" class="btn btn-warning">
                                <i class="glyphicon glyphicon-map-marker"></i> View Map
                            </button>
                            <button value="View Map" class="btn btn-default">
                                <i class="glyphicon fa fa-truck"></i> View Packages
                            </button>
                        </div>
                     </div>
                 </div>
                 <div class="col-sm-9 col-xs-12">
                    <ul class="list-inline">
                        <li><i class="glyphicon glyphicon-map-marker"></i> Dala Primary Health Facility </li>
                        <li><i class="glyphicon glyphicon-map-marker"></i> Wudil Primary Health Facility </li>
                        <li>
                            <i class="glyphicon glyphicon-map-marker"></i>
                            Nassarawa Primary Health Facility
                            <span class="badge">&times;2</span>
                        </li>
                    </ul>
                 </div>
               </div>
           </div>
       </div>
    </div>
</div>